<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Tiru Client</title>
    <style>
        image_style {
            width=200;
            height:auto;
        }
    </style>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js">
    </script>
  </head>

  <body>
    <!--<div id="container">
      <video autoplay playsinline id="videoElement"></video>
      <canvas id="canvas" width="400" height="300"></canvas>
    </div>
    -->
    <div class="image_style">
        <br> 
        <p id="image_text_id"></p>
        <img id="image_id">
    </div>
    <div  text="text_style"> 
        <p id="text_id"></p>
    </div>
    <div class="text_class">
        <p>
            {%- for t in debug -%}
            <p>{{ t }}</p>
            {%- endfor -%}
        </p>
    </div>
    <script  src="{{ url_for('static',filename='script.js') }}"></script>
  </body>

</html>
